name: Update gist with WakaTime stats
on:
  push:
    branches: master
  schedule:
    - cron: "10 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update gist
        with: 
          repository: zer0pwned/waka-box
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 87827a0e083e652c167800b5bed9f091
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
